cruft
.DS_Store
nodeversion/.env
nodeversion/build
nodeversion/.DS_Store
nodeversion/node_modules
nodeversion/.svelte-kit
nodeversion/.svelte-kit_
nodeversion/package
nodeversion/.env
nodeversion/.env.*
node_modules
.svelte-kit
.env
.env*
build/

