body, html {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
.bodyclass {
    /* background: rgba(37,37,37,0.5); */

    background-size: cover;
    background-position: 50% 50%;

}
.container { 
    
    background-color: rgba(208,208,208,0.75);
    box-shadow: inset 0 0 8px rgba(37,37,37,1);
    border: 2px solid rgba(37,37,37,0.7);
    display: flex;
    margin: 10px auto 30px auto;
    padding: 30px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    position: relative;
}
.image { 
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
}
@media only screen 
    and (min-width: 667px) {
        .image {
            flex-basis: 400px;
            padding: 0 30px 0 0;
        }
        .verso {
            min-width: 600px;
            flex-basis: 600px;
            background-size: contain;
        }
        .leftwrite {
            align-content: flex-end;
            align-items: flex-end;
        }
        #sufail {
            width: 25%;
        }
}
@media only screen 
    and (max-width: 667px) {
        .container, .leftwrite {
            flex-direction: column;
            align-content: center;
            align-items: center;
        }
        .postcard-image {
            width: 100%;
        }
        .image, .verso {
            flex: 1;
        }   
    }
@media only screen 
    and (min-width: 967px) {
        #sufail {
            width: 25%;
        }
}
@media only screen 
    and (max-width: 967px) {
        #sufail {
            width: 85%;
        }
}
    .verso {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form,.addresswrapper {
    height: 100%;
}
.input {
    width: calc(100% - 0.75rem);
}
.postscript {
    font-size: 0.85rem;
}
.addresswrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    /* justify-content: flex-end; */
}
.leftwrite {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
}
.sectionleft, .sectionright {
    margin: 10px;
    padding: 10px 20px;
    background-color: rgba(208,208,208,1);
    box-shadow: inset 0 0 8px rgba(37,37,37,1);
    border: 2px solid rgba(37,37,37,0.7);
    /* shadow: 10px 10px 60px rgba(37,37,37,0.5); */
    width: 50%;
}
.sectionbottom {
    margin: auto;
    flex-basis: 50px;
    width: 75%;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-content: flex-start;
    padding-top: 5px;
    /* padding-bottom: 10%; */
}
.buttonbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cardsbutton {
    cursor: pointer;
    transition: all 0.2s;
    padding: 10px 7px;
    background-color: rgba(251, 247, 245,0.85); 
    border: 1px solid rgba(37,37,37,0.5);
    box-shadow: 0 0 10px rgba(37,37,37,0.2);
}
#submitbutton {
    background-color: rgba(251, 247, 245,0.95); 
}
#submitbutton, #closebutton, #backbutton {
    margin: auto;
}
#valencard, #othercard {
    margin: 0 10px;
}
.cardsbutton:hover {
    /* background: rgba(0,85,170,0.4); */
    box-shadow: 0 0 10px rgba(37,37,37,0.5);
}
header, footer {
    background-color: rgba(208,208,208,1);
    padding: 5px 25px;
    margin: 10vh auto;
    box-shadow: inset 0 0 8px rgba(37,37,37,1);
    border: 2px solid rgba(37,37,37,0.7);
    /* shadow: 10px 10px 60px rgba(37,37,37,0.5); */
    padding: 30px 0;
    margin: 20px 0;
}
footer {
    display: flex;
    justify-content: center;
}
header .headerwrapper {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* justify-content: flex-start; */
}
.headerleft {
    flex: 1;
    /* width: 50%; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.headerright {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.headerleft a {
    font-size: 22px;
    line-height: 24px;
    text-decoration: none;
    color: rgba(0,0,0, 0.75);
}
h1, h2 {
    padding-left: 0;
}
.innerwrapper {
    transition: color 0.2s;
    background-image: linear-gradient(transparent 1px, rgba(0,0,0, 1) 2px);
    background-size: 0% 2px;
    background-position: 0% 105%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease 0s, color 0.2s;
    padding-bottom: 5px;
}   
.innerwrapper:hover {
    color: rgba(0,0,0, 1);
    background-size: 105% 5px;
}
.headerleft h1:hover, .headerleft h2:hover {
    color: rgba(0,0,0, 1);
    background-size: 105% 5px;
}
.headermedium, .headersmall {
    text-align: right;

    margin: 0;
}
.headermedium {

    font-size: 22px;
    line-height: 24px;
}
.headersmall {
    font-size: 16px;
    line-height: 16px;
}
footer .footerwrapper {
    margin: auto;
    text-align: center;
}
footer p {
    display: inline;
}
header img {
    flex-basis: 55px;
    padding: 0 8px 5px 8px;
}
header .innerwrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: flex-start;
}
header h1 {
    /* padding: 0 0 0 8px; */
    padding: 0;
    margin: 0;
    font-size: 28px;
    line-height: 28px;
    display: inline-block;
}
header h2 {
    font-size: 22px;
    line-height: 22px;
    padding: 0;
    /* padding: 0 0 0 8px; */
    margin: 0;
}
.modal {
    z-index: 2;
    background: rgba(37,37,37,0.5);
    position: fixed;
    top:0;
    right: 0;
    bottom:0;
    left: 0;
}
#sufail {
    padding: 25px;
    margin: 125px auto;
    border: 3px solid rgba(37,37,37,1); 
    background-color: rgba(251, 247, 245,0.85); 
}
#printmessagetext {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
