@font-face {
    font-family: 'Flecha M Medium';
    font-style: normal;
    src: url('/FlechaM-Medium.woff') format('woff');

}
@font-face {
    font-family: 'Signifier';
    font-style: normal;
    src: url('/signifier-regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Styrene B Bold';
    font-style: bold;
    src: url('/StyreneB-Bold-Web.woff') format('woff');
}
@font-face {
    font-family: 'Styrene B';
    font-style: normal;
    src: url('/StyreneB-Medium-Web.woff') format('woff');
}