h1, h2 {
    font-family: 'Flecha M Medium' !important;
}
h3 {
    text-transform: uppercase !important;
    font-size: 16px !important;
}
h3, h4, dt {
    font-family:'Styrene B Bold' !important;
    font-size: 16px !important;

}
h5, p {

    font-family:'Signifier' !important;
}
nav * {

    font-family:'Signifier' !important;
}
body {
    color: #111a2a !important;
    background: linear-gradient(120deg, #eaebe7 0%, #eaebe7 50%, #4051a3 50%, #4051a3 100%);
    /* background: linear-gradient(30deg, #eaebe7 0%, #eaebe7 60%,#4051a3 60%, #4051a3 100%); */
    background-attachment: fixed; 
}