.content h1, .content p {
    margin: 0;
    text-align: center;
}
h1 {
    max-width: calc(100vw - 100px);
    font-size: clamp(2rem, 0.4321rem + 5.5749vw, 4rem);
}
p {
    font-size: clamp(1rem, 0.7413rem + 0.9199vw, 1.33rem);
}
main {
    display: flex;
    gap: 11px;

}
.featured-image{
    /* object-fit: contain; */
    /* max-height: calc(90% - 60px); */
    flex: auto;
}
.caption {
    margin: 11px;
}
.content {
    position: relative;
    flex: 1;
    min-width: 0;
    min-height: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 11px;

}
section, header {
    min-width: 0;
    min-height: 0;
    display: flex;
    flex-direction: column;
}
section {
    align-items: center;
    justify-content: center;

}
section :is(img, p ) {
    min-width: 0;
    min-height: 0;
} 
section {
    text-align: center;
    /* max-width: 90%; */
}
section p {
    padding: 0;
    margin: 0;
}
.icon svg,
.icon g,
.icon path {
  color: currentColor;
  fill: currentColor;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.icon svg {
  width: 32px;
  height: 32px;
  padding: 3px;
  display: inline-block;
  margin-right: 11px;
}
.st-custom-buttons h1 {
  font-size: min(5vh, 7vw);
  /* margin-block: 0.5rem; */
  margin: 0;
}
.btn-label {
  padding-left: 0.5rem;
  height: 32px;
  width: 100%;
  text-align: left;
}
/* gallery */

    .rotate {
        transform: rotate(90deg);
    }
    svg.arrow {
        /* transform: scale(0.25); */
        /* width: 16px; */
        /* height: 16px; */
    }
    svg.arrow, svg.arrow path {
        color: currentColor;
        fill: currentColor;
    /* width: 100%; */
    /* height: 100%; */
}
